{{ define "main" }}
{{ $author := index .Site.Data.authors .Params.author }}
<main class="max-w-screen-md mx-auto px-4">
  <article>
    <h1 class="text-3xl leading-9 tracking-tight font-extrabold text-gray-900 pb-5">{{ .Title }}</h1>

    <div class="mb-12 flex items-center">
      <div class="flex-shrink-0">
        <a href="{{ $author.home_link }}">
          <img class="h-10 w-10 rounded-full" src="{{ $author.avatar }}" alt="{{ $author.display_name }}'s avatar" />
        </a>
      </div>
      <div class="ml-3">
        <p class="text-sm leading-5 font-medium text-gray-900">
          <a href="{{ $author.home_link }}">
            {{ $author.display_name }}
          </a>
        </p>
        <div class="flex text-sm leading-5 text-gray-500">
          <time datetime="2020-03-16">
            {{ dateFormat "Jan 2, 2006" .Date }}
          </time>
          <span class="mx-1">
            &middot;
          </span>
          <span>
            {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
            {{ math.Floor (div $readTime 60) }} minutes
          </span>
        </div>
      </div>
    </div>

    <div class="markdown">
      {{ .Content }}
    </div>

    <div class="post-tags">
      {{ if ne .Type "page" }}
      {{ if gt .Params.tags 0 }}
      <nav class="nav tags">
        <ul class="flat">
          {{ range .Params.tags }}
          <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
          {{ end }}
        </ul>
      </nav>
      {{ end }}
      {{ end }}
    </div>

    {{- $.Scratch.Set "isDisqus" true -}}

    {{- if and (isset .Params "type") (in .Site.Params.disableDisqusTypes .Params.type) -}}
    {{- $.Scratch.Set "isDisqus" false -}}
    {{- end -}}

    {{- if and (isset .Params "disqus") (eq .Params.disqus false) -}}
    {{- $.Scratch.Set "isDisqus" false -}}
    {{- else if and (isset .Params "disqus") (eq .Params.disqus true) -}}
    {{- $.Scratch.Set "isDisqus" true -}}
    {{- end -}}
  </article>
</main>

{{- if eq ($.Scratch.Get "isDisqus") true -}}
{{- partial "disqus.html" . -}}
{{- end -}}

{{ end }}
