<header class="pt-6 pb-12 px-4">
  <div class="max-w-screen-xl flex flex-col sm:flex-row items-center justify-center mx-auto">
    <a href="{{ .Site.BaseURL }}"
      class="md:mr-15 font-bold text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900">
      Event Modeling
    </a>
    <nav class="flex items-center h-10 justify-center">
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}"
        class="ml-10 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900">
        {{ .Name }}
      </a>
      {{ end }}
    </nav>
  </div>
</header>
