<section class="pt-16 pb-20 px-4">
  <div class="max-w-screen-xl mx-auto">
    <h2 class="text-3xl leading-9 tracking-tight font-extrabold text-gray-900 pb-12">
      Recent posts
    </h2>
    <div class="grid gap-16 lg:grid-cols-3 lg:col-gap-5 lg:row-gap-12">
      {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
      {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
      {{ range $paginator.Pages }}
      {{ partial "mini_post.html" . }}
      {{ end }}
    </div>
  </div>
</section>
